$mainColor: #777;
.App {
  text-align: left;
}

.field{
  padding: 30px ;
  border-bottom: 1px solid $mainColor;
  color: $mainColor;
  input{
    color: $mainColor;
    outline: none;
  }
  label{
    margin-bottom: 10px;
    display: block;
  }
}
